network:
  version: 2
  renderer: NetworkManager
  ethernets:
    ${PORT_1_INTERFACE}: {}
    ${PORT_2_INTERFACE}: {}
  bridges:
    ${BRIDGE_INTERFACE}:
      addresses:
      - "${BRIDGED_CIDR}"
      - "18.18.18.18/24"
      interfaces:
      - ${PORT_1_INTERFACE}
      - ${PORT_2_INTERFACE}